/old/
/SYSU-MM01/
SYSU-MM01.zip
/RGCNFormer_WebAndWx_WebFrontend/node_modules
/RGCNFormer_WebAndWx_backend/.idea
/RGCNFormer_WebAndWx_backend/.pytest_cache
/RGCNFormer_WebAndWx_backend/.venvSYSU-MM01.zip
SYSU-MM01.zip

/release/
